# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
*.egg-info/

# Uploads e resultados
uploads/
benchmarks/texts/*.txt
benchmarks/*.csv

# Docker
.dockerignore

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
